/****************************************************************
 * Definición de estilos para mi proyecto
 * Author: Jesús Noriega Rojas.
 * Fecha: Noviembre del 2018
 * Proyecto: CSS3 y Responsive Web Design
 ****************************************************************/

 body {
   background-color: #02010a;
   font-family: 'Dancing Script',  Verdana, Cursive;
   margin-left: 10%;
   margin-top: 0;
 	 width: 80%;
   font-size: 14px; /* Para Laptom le puse 12 pero tenia 14 */
   color: white;
 }

 header {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;			/* Para Mozilla */
  	-webkit-border-radius: 10px 10px 0 0;		/* para Safari */
    width: 100%;
    /*height: 12%;*/
 }

.encabezado {
   display: flex;
   flex-direction: row;
   /*flex-wrap: nowrap;*/
   /*animation: aparece 2s;*/
}

@-webkit-keyframes aparece{
  0% {
    margin-top:150%;
  }

  60% {
    margin-top:-5%;
  }

  100% {
    margin-top:0%;
  }

}

.encabezado > div {
  width: 50%;

}

.encabezado > div h1 {
   font-size: 2.2em;
   padding-left: 3%;
   text-shadow: 2px 2px #02010a;
   text-align: left;
   margin-top: 3%;
   vertical-align: middle;
}

/*
.encabezado > div nav{
  /*font-size: 1.8em;
  background-color: black;
}
*/

.encabezado > div nav ul {
    width: 90%;
    margin-left: 30%;
    margin-top: 4%;
    list-style-type: none;
}

.encabezado > div nav ul li {
  width: 18%;
  display: inline;
  font-size: 1.8em;
  text-align: right;
  vertical-align: middle;
  float: left;
  margin-right: 1%;
}

a[href] {
  color: white;
}

nav ul li a[href^='#'] {
  text-decoration: none;
}

h2 {
  margin: 0;
}

#contenedor{
  display: flex;
  flex-direction: column;
  background-color: #82c3a6;
  width: 100%;
}

#contenido{
  margin: 2% 2% 2% 2%;
  width: 900px;
  align-self: center;
}

#contenido figure {
  margin: 0;
}

#contenido figure img {
  width: 100%;
  box-shadow: 2px 2px #02010a;

}

#secundaria, #primaria {
  background-color: #d5c75f;
  border: 1px;
}

.imagenjpg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#secundaria .imagenjpg > div {
  width: 50%;
}

#primaria .imagenjpg > div {
  width: 33.33%;
}

.imagenjpg > div figure {
  margin: 0;
}

.imagenjpg > div img {
  width: 92%;
  margin: 4% 4% 3% 4%;
  padding: 0;
}

.borde {
  box-shadow: 2px 2px #02010a;
}

#secundaria .imagenjpg div img[src$='Pelicanos.jpg']:hover {
  box-shadow: 2px 2px #82c3a6;
  transform: rotate(10deg);
}

#secundaria .imagenjpg div img[src$='Retratoc.jpg']:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
}

footer {
  clear: both;
  color: black;
  width: 100%;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;			/* Para Mozilla */
  -webkit-border-radius: 0 0 10px 10px;		/* para Safari */
}

 #piedepagina{
   display: flex;
   flex-direction: row;
 }

 #piedepagina > div {
      text-align: left;
      width: 25%;
      margin-left: 1.5%;
 }

#piedepagina > div h2 {
  font-size: 1.9em;
}

#piedepagina > div p {
  font-size: 1.15em
}

.redes {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.redes > li figure {
    margin: 0;
}

.iconoadaptativo {
  width: 8%;
}
